@keyframes showtoast {
   0% {
      transform: translate(-50%, -100%);
   }

   10%, 90% {
      transform: translate(-50%, 25px);
   }

   100% {
      transform: translate(-50%, -100%);
   }
}

@keyframes hideToast {
   0% {
      transform: translate(-50%, 25px);
   }
   100% {
      transform: translate(-50%, -100%);
   }
}

@keyframes toastTimer {
   0% {
      width: 100%;
   }
   100% {
      width: 0px;
   }
}